
* {
font-size: 20px;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 5px solid #EBAF4D;
  }

.menu li {
    display: inline;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.left-column {
    background-color: #7e7e7e;
    border-right: 2px solid #D60A66;
    padding: 16px;

}

.gradient-photo {
    width: 300px;
    height: 400px;
    background: linear-gradient(45deg, #EBAF4D, #D60A66 60%);
    border-radius: 20%;
    position: relative;
}

.photo {
   width: 290px;
   height: 390px;
   border-radius: 20%;
   position: absolute;
   right: 50%;
   top: 50%;
   transform: translate(50%, -50%);
}

.contacts h2 {
    font-size: 30px;
}

h1 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
}

.contacts-block {
    list-style-type: none;
    border-left: 2px solid #ffffff;
    padding-left: 8px;
}

.contacts-block img {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.contacts-block li {
  height: 32px;
  display: flex;
  align-items: center;
}

.right-column h2 {
    height: 35px;
    font-size: 30px;
    font-family: sans-serif;
    border-left: 20px solid #EBAF4D;
    border-bottom: 2px solid #EBAF4D;
    padding-left: 5px;
    margin-left: 0;

}

.right-column p {
    margin-left: 20px;
}

.code-example {
    color: #ffffff;
    background-color: #202020;
    width: 350px;
    margin-left: 20px;
    padding: 8px;
}

.footer {
    height: 50px;
    background-color: #EBAF4D;
    padding: 0 16px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.img-git-logo {
 width: 30px;
 height: 30px;
}


.footer-git {
    height: 50px;
    width: 110px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.img-rss-logo {
    width: 84px;
    height: 39px;
}

.footer-logo-rss {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-link {
    display: flex;
}
